<style>
    ul:nth-of-type(1) {
        list-style-type: decimal;
    }
    .table-of-contents {
        width: auto;
        background: #eee;
        font-size: 1.1em;
        padding: 1em 2em;
        margin: 0 0 0.5em 0.5em;
    }
</style> 

<script>
    code_show=true; 
    function code_toggle() {
     if (code_show){
     $('div.input').hide();
     } else {
     $('div.input').show();
     }
     code_show = !code_show
    } 
    $( document ).ready(code_toggle);
    </script>
    <form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off code chunks."></form>
</script>
<br></br>
<h2>Table of Contents</h2>
<ul class = "table-of-contents">
    <li><a href="#Introduction/Objective">Introduction/Objective</a></li>
    <li><a href="#Data">Data</a></li>
    <li><a href="#Over-Representation-Analysis-(ORA)">Over-Representation Analysis (ORA)</a></li>
    <li><a href="#GSEA">GSEA</a></li>
</ul>